<%= turbo_frame_tag note do %>
  <section class="mb-4">
    <h2><%= note.title %></h2>

    <p class="lead">
      <span class="badge bg-info" data-sortable-target="position">
        <%= note.position %>
      </span>
      <%= note.description %>
    </p>

    <%= link_to :Edit, edit_note_path(note), class: 'btn btn-primary' %>
  </section>
<% end %>